<div class="swiper-slide">
    <div class="flex flex-col items-center gap-y-6">
        <div class="flex flex-col justify-center items-center p-6 min-h-[250px]  rounded-lg bg-white shadow-2xl">
            <div class="flex justify-center text-bluehantik-900">
                <img src="images/quote.svg" class="w-12 aspect-square object-contain" loading="lazy" alt="icono comentario">
            </div>
            <div class="text-slate-500 text-xs lg:text-sm text-center">
                <slot />
            </div>
        </div>
        <div class="flex flex-col items-center gap-x-2">
            <figure class="w-[5.375rem] rounded-full overflow-hidden">
                <img src="images/avatar.webp" class="w-full aspect-square" loading="lazy" alt="usuario">
            </figure>
            <span class="text-white text-lg font-m font-bold">
                <slot />
            </span>
            <a href="" class="text-cyan-400 text-sm" title="Website - Acento internacional">
                <slot />
            </a>
        </div>
    </div>
</div>