<footer class="flex flex-col justify-center items-center w-full bg-bluehantik-900">
    <div class="flex flex-col justify-center items-center gap-y-6 w-11/12 py-12 ">
        <div class="flex justify-center gap-6">
            <a href="https://www.facebook.com" class="group flex justify-start items-center gap-x-2 text-white" title="Hantik facebook">
                <div class="flex justify-center items-center w-8 aspect-square rounded-full border border-sky-400 group-hover:bg-sky-400 duration-300" title="hantik social">
                    <img src="images/social/facebook.svg" class="w-5 aspect-square" loading="lazy" alt="Hantik facebook">
                </div>
            </a>
            <a href="https://www.threads.net/" class="group flex justify-start items-center gap-x-2 text-white" title="Hantik threads">
                <div class="flex justify-center items-center w-8 aspect-square rounded-full border border-sky-400 group-hover:bg-sky-400 duration-300">
                    <img src="images/social/threads.svg" class="w-5 aspect-square" loading="lazy" alt="Hantik threads">
                </div>
            </a>
            <a href="https://www.instagram.com" class="group flex justify-start items-center gap-x-2 text-white" title="Hantik instagram">
                <div class="flex justify-center items-center w-8 aspect-square rounded-full border border-sky-400 group-hover:bg-sky-400 duration-300">
                    <img src="images/social/instagram.svg" class="w-4 aspect-square" loading="lazy" alt="Hantik instagram">
                </div>
            </a>
            <a href="https://www.tiktok.com" class="group flex justify-start items-center gap-x-2 text-white" title="Hantik tiktok">
                <div class="flex justify-center items-center w-8 aspect-square rounded-full border border-sky-400 group-hover:bg-sky-400 duration-300">
                    <img src="images/social/tiktok.svg" class="w-4 aspect-square" loading="lazy" alt="Hantik tiktok">
                </div>
            </a>
            <a href="https://www.linkedin.com" class="group flex justify-start items-center gap-x-2 text-white" title="Hantik linkedin">
                <div class="flex justify-center items-center w-8 aspect-square rounded-full border border-sky-400 group-hover:bg-sky-400 duration-300">
                    <img src="images/social/linkedin.svg" class="w-4 aspect-square" loading="lazy" alt="Hantik linkedin">
                </div>
            </a>
        </div>
        <div class="flex flex-col md:flex-row justify-center gap-x-4 gap-y-2">
            <a href="https://api.whatsapp.com/" class="flex justify-start items-center gap-x-2" title="Hantik whatsapp">
                <img src="images/social/whatsapp.svg" class="shrink-0 w-4 aspect-square object-contain" loading="lazy" alt="whatsapp">
                <span class="grow text-white font-m">(+57) 322 508 0052</span>
            </a>
            <a href="mailto: proyectos@canvas-web.com" class="flex justify-start items-center gap-x-2 text-white" title="Correo empresarial proyectos">
                <div class="shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                    </svg>                          
                </div>
                <span class="grow text-white font-m">proyectos@canvas-web.com</span>
            </a>
            <a href="mailto: info@hantikgroup.com" class="flex justify-start items-center gap-x-2 text-white" title="Correo empresarial informaci&oacute;n">
                <div class="shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                    </svg>                          
                </div>
                <span class="grow text-white font-m">info@hantikgroup.com</span>
            </a>
        </div>
    </div>
    <div class="flex justify-center items-center w-full p-2 bg-bluehantik-950">
        <div class="flex justify-between items-center w-11/12">
            <div class="text-cyan-300 text-[10px] md:text-sm font-m">
                <span>&copy;Copyright 2023 Hantik group | Todos los derechos reservados</span>
            </div>
            <div>
                <img src="images/logo-hantik.svg" class="w-[100px] h-auto" loading="lazy" alt="Logo hantik group">
            </div>
        </div>
    </div>
</footer>