<button
    @click="$refs.formulario.scrollIntoView({ behavior: 'smooth'})"
    class="group relative inline-flex justify-center items-center gap-x-3 md:hover:gap-x-6 max-w-lg py-4 px-8 text-white font-m font-semibold cursor-pointer shadow-2xl shadow-blue-500/50 duration-300" title="Comun&iacute;cate con nosotros" aria-label="Ir hasta formulario de contacto">
    <div class="absolute w-full h-full rounded-xl bg-sky-400 md:group-hover:scale-110 ease-out duration-300"></div>
    <span class="relative text-base md:text-lg tracking-wider">
        <slot />
    </span>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="relative w-5 h-5 text-slate-50/50 group-hover:rotate-180 duration-300">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
    </svg>
</button>